.joinBtn {
  display: flex;
  justify-content: center;
  width: 400px;
  border-radius: 15px;
  transform: skew(-30deg);
  background: linear-gradient(270deg, #EF2DFF 0%, #013DFF 100%) !important;
}

.joinBtn__link {
  padding: 10px 0;
  flex: 1 1 !important;
  text-align: center ;
  color: var(--usualTextColor);
  transform: skew(30deg);
  font-size: 32px;
  cursor: pointer;
}


@media (max-width: 900px) {
  .joinBtn {
    width: 300px;
  }
  .joinBtn__link {
    font-size: 24px;
  }
}

@media (max-width: 600px) {
  .joinBtn {
    width: 200px;
  }
  .joinBtn__link {
    font-size: 16px;
  }
}
