:root {
  --usualTextColor: #fff;
  --h3Color: #fff;

  --bgColor: #0A0F1D;
  --bgColorlight: #fff;
  --bgSlide: radial-gradient(88.17% 88.17% at 50% 50%, #0F0F16 0%, #000 100%);

  --buttonColor: #0E101C;

  --hoverText: aqua;
  --opacityText: #ffffff80;
}
* {
  z-index: 3;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Helvetica;
}
html,
body {
  max-width: 100vw;
  background:var(--bgColor);
}
header {
  position: relative;
}
.lightBg {
  pointer-events:none;
  position: absolute;
  z-index: 2;
  opacity: 0.3;
  width: 100%;
  height: 100%;
  background-image: url('/img/hero/Mask.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top left;
}
.womanBg {
  pointer-events:none;
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  background: url("/img/hero/main.jpg") no-repeat top right / cover,
              url("/img/hero/layerWithBoot.png") no-repeat center left / contain ;
}
a {
  color: inherit;
  text-decoration: none;
  transition: fill 0.3s ease;
  transition: background 0.3s ease;
  transition: color 0.3s ease;
}
button {
  transition: fill 0.3s ease;
  transition: background 0.3s ease;
}
li {
  list-style: none;
}
h1 {
  color: var(--usualTextColor);
  font-size: 33.411px;
  font-weight: 400;
  line-height: 130%; 
  opacity: 0.8;
}
h3 {
  margin: 0 !important;
  padding: 40px 0 20px ;
  color: var(--h3Color);
  font-size: 24px;
  font-weight: 400;
  line-height: 130%;
  text-transform: uppercase;
  opacity: 0.4; 
} 
.container {
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 70px;
  @media (max-width: 1200px) {
    padding: 0 45px;
  }
  @media (max-width: 800px) {
    padding: 0 35px;
  }
}
.slider__container {
  max-width: 1920px;
  margin: 0 0 0 auto;
  padding: 0 0 0 70px;
  @media (max-width: 1200px) {
    padding: 0 0 0 45px;
  }
  @media (max-width: 800px) {
    padding: 0 0 0 35px;
  }
}
main {
  background: url('../../public/img/bg/bg1.png') no-repeat top left / 60%, 
              url('../../public/img/bg/bg3.png') no-repeat top 10% right / 60%,
              url('../../public/img/bg/bg2.png') no-repeat bottom 10% left / 60%, 
              url('../../public/img/bg/bg4.png') no-repeat bottom right / 60% ;
}
body {
  background: url('../../public/img/bg/bg3.png') no-repeat bottom right / 60%, 
  url('../../public/img/bg/bg1.png') no-repeat bottom 10% left / 60%
}